body {
  margin:0;
  }
  h1 {
    font-size: 60px ;
    border-bottom:1px solid gray;
    margin:0;
    padding:20px;
  }
  #grid ol{
    border-right:1px solid gray;
    width:140px;
    margin:0;
    padding:20px;
    padding-left:40px;
  }
  #grid{
    display:grid;
    grid-template-columns: 200px 1fr;
  }
  #article{
   padding:30px;
  }
  @media(max-width:750px){
    #grid{
      display:block;
    }
    #grid ol{
      border-right:none;
    }
    h1 {
      border-bottom:none;
    }
  }
  .js{
    font-weight: bold;
    color: plum;
    text-decoration: underline
  }
